h1{
    color:orange;
}

nav{
    margin-top: 0;
    background-color: red;
    text-align: right;
}
nav ul li{
    list-style-type: none;
    display:inline;
    margin:1em;
}

nav ul li a{
    text-decoration: none;
}